.warpper {
  display: flex;
  flex-direction: column;
  min-width: 100vw; // 最小宽度
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .container {
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    .main {
      flex-grow: 1;
      height: 100%;
      min-width: 100vw;
      overflow: auto;

      .in-enter {
        opacity: 0;
        transform: translateX(100%);
      }

      .in-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: all 500ms;
      }
      .in-enter-done {
        opacity: 1;
      }

      .in-exit {
        opacity: 1;
        transform: translateX(0);
      }

      .in-exit-active {
        opacity: 0;
        transform: translateX(-100%);
        transition: all 500ms;
      }
    }
  }
}
